.navbar {
    height: 60px;
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position:relative;
   width: 100%;

  }
  .username {
    font-weight: bold;
/* 
    margin-left: 100px;
    margin-right: 20px; */

  } 
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    margin-left: 200px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .icon {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .iconImg {
    width: 20px;
    height: 20px;
  }
  
  .counter {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  
  .notifications {
    position: absolute;
    top: 60px;
    /* right: 185px; */
    background-color: white;
    color: black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  /* .notification {
    padding: 5px;
    font-size: 14px;
  } */
  
  .nButton {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    background-color: #777;
  }
  @media only screen and (max-width:580px) {
    .logo{
      margin-left: 0px;
    }
  }