body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container {
  height: 100vh ;  
}

.login {

  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head{
  padding-top: 80px;
  font-size: 100px;
  color: #777;
}

input {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  /* border: none; */
  border: 2px solid #777;
  margin-bottom: 20px;
}
input:focus{
  outline-style: none;

}
button {
  width: 70%;
  padding: 10px;
  background-color: #777;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cardmain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h2{
  margin-bottom: 30px;
  background-color: teal;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}